/msvc/np01/.vs
*.vcxproj.filters
*.vcxproj.user
/msvc/np01/np01/x64
/msvc/np01/np01_test/x64
/msvc/np01/x64
/slickedit_gcc/Profile/
/slickedit_gcc/Release/
/msvc/.vs
/msvc/np01_test/x64/
/msvc/x64/
