#ignore these files
*.a
*.exe
*.o
*.vcxproj.filters
*.vcxproj.user
*.vpwhist
*.vtg
/msvc/.vs
/msvc/np01/.vs
/msvc/np01/x64/
/msvc/np01_test/x64/
/msvc/x64/
/gcc/Debug/
/gcc/Profile/
/gcc/Release/
